.container {
    display: flex;
    flex-direction: row;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container>* {
    margin: 20px;
}

.inputs>*, .outputs>* {
    margin: 5px;
}

.customer-name {
    margin-top: 20px;
    margin-bottom: 20px;
}